/* 480

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER — header[role="banner"]
9.NAVIGATION — nav[role="navigation"]
10.CONTENT
11.MAIN — div[role="main"]
12.COMPLIMENTARY — div[role="complementary"]
13.CONTENTINFO — footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC
16.TEMPLATE SPECIFICS
17.MODERNIZR

*/

/* 1.ROOT */

body {
  font-size: 100%;
}

/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */
/* 8.BANNER */

.ug-info {
  width: 90%;
  margin: 0 auto 10px auto;
  text-align: center;
}

/* 9.NAVIGATION */
/* 10.CONTENT */

/* --- RejectJS Teaser Styles --- */

.teaser {
  position: relative;
  margin-bottom: -5px;
}

.teaser-text {
  width: 100%;
  position: absolute;
  top: 0;
}

.teaser-text h1,
.teaser-text h2,
.teaser-text h3,
.teaser-text h4 {
  color: #fff;
  text-align: center;
  text-shadow: none;
}

.teaser-text h1 {
  margin-bottom: 0;
  margin-top: 22%;
  font-size: 1.75em;
  text-shadow: 2px 2px 0 #223035;
}

.teaser-text h2 {
  font-size: 0.7em;
  font-weight: normal;
}

.teaser-text h3 {
  margin-top: 15%;
  margin-bottom: 0;
  font-size: 1.44em;
}

.teaser-text h4 {
  font-size: 0.6em;
  font-weight: normal;
}

.teaser-text hgroup {
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
}

.teaser-text aside {
  width: 55%;
  position: absolute;
  top: 0;
  left: 35%;
}

/* --- END Teaser Styles --- */

.speaker {
  width: 100%;
  margin: 0 1% 2% 1%;
  float: left;
  border: none;
}

.teaser a.button {
  position: absolute;
  width: 30%;
  top: 70%;
  left: 50%;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 2px 5px;
}

.sponsor-link {
  width: 160px;
  height: 160px;
  display: block;
  background: url(../img/cfs.png) no-repeat 0 0;
  color: transparent;
}

.sponsor-link:hover {
  background: url(../img/cfs.png) no-repeat 0 -160px;
  color: transparent;
}

.attendees ul {
  margin: 0 auto;
  display: block;
  list-style: none;
  font-size: 0.75em;
}

.attendees ul li {
  float: left;
}

.attendees li a {
  height: 48px;
  width: 48px;
  display: block;
  background: #e1e1e1;
  margin: 5px 5px 0 0;
  padding: 3px;
  vertical-align: center;
  text-decoration: none;
}

.attendees li a:hover {
  color: #fff;
  background: #CE1E47;
}

.attendees li a img {
  width: 48px;
  height: 48px;
  display: inline;
  overflow: hidden;
  float: left;
}

.attendees a.join {
  width: 111px;
  padding: 3px 3px;
  color: #CE1E47;
  font-size: 1.1em;
  font-weight: 700;
}

/* 11.MAIN */


/* 12.COMPLIMENTARY */

/* 13.CONTENTINFO */

footer {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #223035;
}

/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */
