/* 992

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER — header[role="banner"]
9.NAVIGATION — nav[role="navigation"]
10.CONTENT
11.MAIN — div[role="main"]
12.COMPLIMENTARY — div[role="complementary"]
13.CONTENTINFO — footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC
16.TEMPLATE SPECIFICS
17.MODERNIZR

*/

/* 1.ROOT */
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */
/* 8.BANNER */

.logo {
  width: 260px;
  height: 176px;
  float: left;
  background: url(../img/logo.png) no-repeat top left;
}

.ug-info {
  float: left;
  width: 65%;
  font-size: 1.25em;
}

/* 9.NAVIGATION */
/* 10.CONTENT */
/* 11.MAIN */

.promo p {
  width: 65%;
}

/* --- Speakers --- */

.speaker-list {
  width: 50%;
  float: left;
  display:block;
  text-align: left;
}

.speaker-list p {
  font-size: 14px;
}

.speaker-list li {
  margin: 15px 0 0 15px;
  padding: 10px;
  background: #fff;
}

.right li {
  margin-right: 15px;
}

.speaker-info {
  width: 30%;
  margin-right: 10px;
  padding-bottom: 10px;
  float: left;
}

.speaker-list img {
  width: 100%;
  float: none;
  margin: 0 10px 10px 0 ;
}

.talk {
  width: 65%;
  float: left;
}

.twitter,
.web,
.git {
  padding: 3px 8px;
  margin-bottom: 5px;
  background: #e9e9e9;
  border-radius: 10px;
  display: inline-block;
  clear: left;
  font-size: 12px;
}

.twitter:hover,
.web:hover,
.git:hover {
  box-shadow: 1px 1px 3px #666;
  text-decoration: none;
}

/* --- END Speakers --- */


/* 12.COMPLIMENTARY */

[role="complementary"] {
  float: right;
  width: 38%;
}

/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */
