#angular .logo {
  background-image: url(../img/AngularJS-Berlin.png);
  background-position: center center;
  background-size: 65%
}

#angular .content li {
  list-style-type: disc;
  margin-left: 1.5em;
}

#angular .intro {
  font-size: 1.2em;
}

.mu-widget img, .mu-rsvp-btn img {
  vertical-align: middle;
}

#angular .mu-widget .mu-ev-details {
  position: static;
}
