#apps .logo {
  margin-right: 15px;
}
#apps h4 {
  margin: 0;
  padding: 1.2em 0;
}
#apps h1 {
  margin: 0;
}

#apps .content {
  clear: both;
  padding-top: 1em;
}

#apps .announcement {
  margin: auto;
  max-width: 37em;
}

#apps .intro {
  font-size: 1.2em;
}

#apps .talks {
  border: none;
}

#apps .talks h2 {
  text-align: center;
}

#apps .bullet-list li {
  list-style-type: disc;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
}

#apps .speaker {
  min-height: 14em;
}

#apps .plan img {
  display: block;
  margin: auto;
  border: 1px solid gray;
}
